.debt {
  flex: 1;
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .title {
    font-size: 13px;
    font-weight: bold;
  }

  .progressbar {
    width: 120px;
    height: 120px;

    .CircularProgressbar-path {
      stroke: green;
    }
    .CircularProgressbar-trail {
      stroke: red;
    }
    .CircularProgressbar-text {
      fill: blue;
    }
    //background doesn't work
    .CircularProgressbar-background {
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  .goal {
    font-size: 13px;
  }
}
